@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$dkc: #333;
$ltc: rgb(231, 229, 229);
$prc: rgb(69, 173, 187);
$sdc: rgb(73, 158, 112);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dark {
  background-color: $dkc;
  color: $ltc;
}

.light {
  background-color: $ltc;
  color: $dkc;
}

body {
  font-family: 'Arvo', serif;
  background-color: $ltc;
  color: $ltc;
  line-height: 1.6;
}

h1, h2 {
  font-weight: 200;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
  padding: 10px;
  
  img {
    width: 40px;
    margin-left: 10px;
  }

  span {
    padding-left: 5px;
  }
  
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(80, 79, 79);
  color: $ltc;
  width: 100%;
  height: 60px;
  opacity: 0.8;
  position: fixed;
  ul {
    display: flex;
  }

  a{
    padding: 6px;
    margin: 0px 10px;
    color: $ltc;
  }

  a:hover {
    color: $sdc;
    border-bottom: solid 1px $ltc;
  }
}

.separador {
  border-right: solid 1px $ltc;
}

// Cabeçalho Início
.header {
  background: url('./img/interrogacao.jpg') no-repeat center center/cover;
  height: 90vh;
  position: relative;
  color: $ltc;

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: $prc;
    padding: 0px 20px;

    h1 {
      font-size: 55px;
    }

    h2 {
      font-size: 27px;
    }
  }
  
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.header * {
  z-index: 10;
}

//Auto typewriting
.auto-typing::after {
  content:'';
  border-left: 1px solid $prc;
  margin-left: 5px;
  animation: piscar 0.5s infinite ease;
}

@keyframes piscar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Cabeçalho Anime
.anime {
  background: url('./img/capa-nova.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: $ltc;}

.games {
  background: url('./img/smash.png') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: $ltc;}
  

// Páginas

.itens {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  height: 60vh;
  text-align: center;
  justify-content: space-between;
  color: #333;

  .item-anime, .item-video-game {
    overflow: hidden;
  }

  h3 {
    margin-bottom: 10px;
  }

  img {
   width: 45vw;
   height: 50vh;
   border-radius: 50%;
   transition: all 0.3s ease-in-out; 
 }

 img:hover {
   transform: scale(1.1);
   border-radius: 20px;
 }
}

//Página Anime
.discussao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  img {
    max-width: 80%;
    max-height: 100%;
    width: 40vw;
    object-fit: contain;
  }

  p {
    padding: 10px;
    margin: 0 60px 0 0;
    width: 40vw;
    text-align: justify;
  }
}

.ani {
  background-color: $prc;
  color: $ltc;
}

.game {
  background-color: $sdc;
  color: $dkc;
}


//Generos

.generos {
  background-color: $ltc;
  color: $dkc;
}

.generos-g {
  background-color: $dkc;
  color: $ltc;
}

.txt-generos {
  color: $prc;
  padding-bottom: 20px;
  height: 150px;
  text-align: center;

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 23px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  text-align: center;
  
  img {
    width: 400px;
    height: 200px;
    border-radius: 17px;
    transition: all 0.25s ease-in-out;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
}



.img-container p {
  display: none;
}

//Modal imagem

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
  
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.caixa {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  text-align: center;
}

.modal-img {
  align-self: flex-start;
  margin-left: 80px;
  transform:scale(1);
  max-height: 200px;
  margin-top: 20px;
  transition: all 0.25s ease-out;
}

.modal-img.open {
  transform: scale(1.3)
}
.modal-img.open:hover {
  transform: scale(1.3)
}

.legenda {
  color: $ltc;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  width: 50vw;
  margin-right: 20px;
}



.nomenclatura {
  color: $ltc;
  font-size: 3rem;
  position: relative;
  top: 13%;
  h2 {
    text-align: center;
  }
}

.g1 {
  font-size: 2.5;
  
}

.recomendacoes {
  color: $dkc;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(350px)) ;
  text-align: center;
  img {
    width: 35vw;
    height: 33vh;
    margin: 20px;
    border-radius: 10px;
  }

  h3 {
    color: $dkc;
    font-size: 30px;
  }
  
  p {
    width: 40vw;
    margin: 20px;
    top: 10%;
  }
}


.intro-rec {
  background: $sdc;
  margin-top: 40px;
  margin-bottom: 40px;
  color: $dkc;
  text-align: center;
  padding: 20px;
  height: 100px;

  h2 {
    font-size: 35px;
  }

}

.g2 {
  background-color: $prc;
  color: $ltc;
}

.rec1, .rec2, .rec3 {
  display: flex;
  justify-content: space-between;
  background: $sdc;
  img {
    align-self: flex-start;
  }

}

.g3 {
  background-color: $prc;
  color: $ltc;
}

.branco {
  background: $ltc;
  height: 45px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dkc;
  height: 60px;
  margin-top: 40px;
  p {
    margin: auto;
    font-size: 23px
  }
}


.anime1 {
  h3 {
    color: $ltc;
  }
}

.footer-alt {
  margin-top: 0px;
}

@media (max-width: 768px) {
  
  .navbar {
    flex-direction: column;
    height: 110px;
    width: 100vw;
    .logo {
      margin-top: 10px;
      padding: 0;
    }

    a {
      padding: 0;
    }
    
    ul {
      flex-wrap: wrap;
      width: 80vw;
      justify-content: center;
    }
  }

  .itens {
    flex-direction: column;

    .item-anime, .item-video-game {
      overflow: visible;
    }

    img {
      border-radius: 40%;
      width: 50vw;
      height: 25vh;
    }
  }

  .discussao {
    flex-direction: column;
    height: 110vh;

    h1 {
      text-align: center;
      margin-top: 10px;
    }

    p {
      width: 80vw;
      height: 80vh;
      padding: 0px;
      margin: 0px;
      margin-top: 10px;
      text-align: center;
    }

    img {
      width: 40vw;
      margin-top: 10px;
    }
  }

  .ani {
    img {
      height: 30vh;
      width: 70vw;
      margin-right: 50px;
    }
  }
  
 
  .txt-generos {
    margin: 0 7px ;
    text-align: center;
    
    h2 {
      padding-top: 10px;
      font-size: 25px;
    }

    p {
      margin-top: 10px;
      font-size: 17px;
    }
  }

  .container {
    height: 350vh;
    font-size: 20px;
    margin-top: 10px;
    
    img {
      width: 300px;
    }

    h5 {
      text-decoration: underline;
    }
  }

  

  .um {
    margin-top: 40px;
    height: 38vh;

    p {
      margin-top: 5px;
    }
  }

  .dois {
    height: 38vh;
  }

  .anime1 {
    h3 {
      color: $ltc;
    }
  }

  .jogo1 {
    h3 {
      color: $dkc;
    }
  }

  .rec1,.rec2,.rec3 {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    img {
      width: 300px;
      align-self: center;
    }

    p {
      width: 80vw;
      font-size: 17px;
    }

  }

  .modal {
    overflow: auto;
  }

  .caixa {
    display: block;
    margin-top: 100px;
  }

  .modal-img {
    position: relative;
    width: 200px;
    max-width: 400px;
    height: 100px;
    margin-left: 0px;
    left: 0%;
    top: 10%;
  }

  .nomenclatura {
    top: 0%;
    font-size: 20px;
    left: 0;
    margin-top: 30px;
    position: relative;
    h2 {
      text-align: center;
    }
  }

  .legenda {
    position: relative;
    left: 0;
    top: 20%;
    width: 100vw;
    padding: 10px;
    p {
      text-align: center;
    }
  }
  
  .modal-img.open {
    transform: scale(1);
  }
  .intro-rec {
    height: 100px;
  }
}

